HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://soasuite.samples.oraclel.com/osb-101-helloworld"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="HelloWorld" targetNamespace="http://soasuite.samples.oraclel.com/osb-101-helloworld">
	<wsdl:types>
		<xsd:schema targetNamespace="http://soasuite.samples.oraclel.com/osb-101-helloworld">
			<xsd:element name="getGreeting">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getGreetingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="greeting" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getGreetingRequest">
		<wsdl:part element="tns:getGreeting" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getGreetingResponse">
		<wsdl:part element="tns:getGreetingResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="HelloWorld">
		<wsdl:operation name="getGreeting">
			<wsdl:input message="tns:getGreetingRequest" />
			<wsdl:output message="tns:getGreetingResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloWorldSOAP" type="tns:HelloWorld">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getGreeting">
			<soap:operation
				soapAction="http://soasuite.samples.oraclel.com/osb-101-helloworld/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloWorld">
		<wsdl:port binding="tns:HelloWorldSOAP" name="HelloWorldSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
